button {
  cursor: pointer;
  border: 0;
  padding: 1rem;
  border-radius: 5px;
  margin: 0 1rem;
}
.big-container {
  width: 50%;
  .btn-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .delete {
    border: 1px solid crimson;
    color: black;
    margin: 0.3rem 2rem;
    background-color: #fff;
    &:hover {
      background-color: crimson;
      color: white;
    }
  }
  @media screen and (max-width: 800px) {
    width: 80%;
  }
  margin: auto;
  .userprofile {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    .userdeets {
      margin: 0 2rem;
    }
  }
  .order-ul {
    .order {
      > input:disabled {
        border: none;
        color: black;
        background-color: #fff;
      }

      .edit {
        border: 1px solid goldenrod;
        color: black;
        background-color: #fff;
        &:hover {
          background-color: rgb(218, 101, 24);
          color: white;
        }
      }
    }
  }
  .order-form {
    width: 90%;
    margin: auto;
    .submit {
      cursor: pointer;
      border: 0;
      padding: 0.6rem 1rem;
      border-radius: 5px;
      background-color: #007bff;
      color: white;
    }
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    > input,
    > select {
      padding: 0.5rem;
      border-radius: 5px;
      border: 1px solid #007bff;
      margin: 0.3rem;
      width: 400px;
    }
  }
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  > button {
    background-color: #fff;
    padding: 0.7rem 1rem;
    margin: 1rem 0;
    border: 1px solid rgb(240, 20, 5);
    &:hover {
      background-color: rgb(240, 5, 83);
      color: white;
    }
  }
  > input,
  select {
    margin: 0.3rem;
    border-radius: 5px;
    padding: 0.5rem;
    border: 2px solid rgb(240, 20, 5);
    width: 400px;
  }
}
.utc {
  text-align: center;
}
